<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<body>
    <form>
        x: <input type="text" name="x" id="x"><br/>
        y: <input type="text" name="y" id="y"><br/>
        result: <input type="text" name="result" id="result"><br/>

        <button typ="button" id="btnAdd">더하기</button>
    </form>
</body>
</html>

<script>
    $(document).ready( ()=>{
        $("#btnAdd").click(()=>{
            // 비동기모드 - 반환값 x
            $.ajax({
                url:"/ajax/add",
                data:{"x":$("#x").val(), "y":$("#y").val()},
                dataType: "json" //결과를 json 형식으로 가져오겠다
            })
            .done( (res, status, erro) => {
                console.log(res);
                $("#result").val(res.result);
            })
            .fail( (res, status, erro) => {
                console.log(stauts);
            })
        })    
        })
</script>