<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/sms/list">게시판</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="">상품</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Logout</a>
      </li>
      </ul>
  </nav>