
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
</head>
<body>
<form id="myform" name="myform">
  <input type="hidden" id="idcheckyn" name="idcheckyn" value="N">
  <%-include('../layout/header.ejs')%>

<div class="container mt-3">
  <h1 style="margin-top: 80px">로그인</h1>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="아이디" id="userid" name="userid">
  </div>

  <div class="input-group mb-3">
    <input type="password" class="form-control" placeholder="패스워드" id="password" name="password">
  </div>
  
  <div class="container" style="text-align:right">

	<div class="btn-group">

      <button type="button" class="btn btn-primary" id="btnLogon">로그온</button>&nbsp;&nbsp;
      
  <button type="button" class="btn btn-primary" id="btnCancle">취소</button>&nbsp;&nbsp;
	</div>
	</div>
</div>

</form>	
</body>
</html>

<script>
$(document).ready(()=>{
      $("#btnLogon").click(()=>{
          $("#btnLogon").click(goLogon); // gologon() - 함수를 실행한 겨로가가 전달
                                          // goLogon - 함수의 주소만 전달한다
          $("#btnCancle").click(goCancle);

        
        function goLogon()
        {
          $.ajax(
            {
              url:"/member/login",
              data:{userid:$("#userid").val(), password:$("#password").val()},
              dataType: "json",
              method:"post"
            })
          .done( (res)=>{
            console.log(res.result);
            if(res.result =="success")
            {
              alert(res.msg);
              location.href="/"; // 첫번째 페이지로 보냄
            }
            else
            {
              alret(res.msg);
            }
          })
          .fail( (res, status, error) => {
            console.log(status);
          })
        }

      
    });

    function goCancle()
    {

    }
  })
</script>